save-exact=true
minimum-release-age-exclude[]=pnpm
minimum-release-age-exclude[]=qs
minimum-release-age-exclude[]=fast-xml-parser
minimum-release-age-exclude[]=lodash
minimum-release-age-exclude[]=lodash-es
minimum-release-age-exclude[]=undici
minimum-release-age-exclude[]=tar-fs
