---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Layout from '../../layouts/Layout.astro';
import PageHeaderText from "../../components/PageHeaderText.astro";

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="BLOG" description="Blog list page">
	<PageHeaderText>
		BLOG
	</PageHeaderText>
	<section class="my-[60px]">
		<ul class="border-t-2 border-[#154B5F]">
			{
				posts.map((post) => (
					<li class="border-b-2 border-[#154B5F] py-6">
						<a
							href={`/blog/${post.slug}/`}
							class="flex flex-col md:flex-row gap-3 md:gap-0 font-bold text-xl md:text-2xl text-black"
						>
							<FormattedDate date={post.data.pubDate} className="w-[160px]" />
							<span>{post.data.title}</span>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
