---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Layout from '../../layouts/Layout.astro';
import HeaderText from "../../components/HeaderText.astro";

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
	<HeaderText
		className="mt-[60px] text-6xl"
	>
		BLOG
	</HeaderText>
	<section class="my-[60px]">
		<ul class="border-t-2 border-[#154B5F]">
			{
				posts.map((post) => (
					<li class="border-b-2 border-[#154B5F] py-6">
						<a href={`/blog/${post.slug}/`} class="flex font-bold text-2xl text-black">
							<FormattedDate date={post.data.pubDate} className="w-[160px]" />
							<span>{post.data.title}</span>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
