@import 'tailwindcss';

@theme {
  --color-black: #154b5f;
  --color-black_hover: #0e789f;
}

@plugin '@tailwindcss/typography';

@custom-variant prose-inline-code (&.prose :where(:not(pre)>code):not(:where([class~="not-prose"] *)));
@custom-variant prose-code-link (&.prose :where(a:has(code)):not(:where([class~="not-prose"] *)));

.prose-sm h1 {
  font-size: 1.6rem;
}

.prose h1 {
  font-size: 1.7rem;
}
