---
import Layout from '../layouts/Layout.astro';
import PageHeaderText from "../components/PageHeaderText.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<PageHeaderText>
		BIOGRAPHY
	</PageHeaderText>
	<p>
		WIP 😒
	</p>
</Layout>
