---
import Layout from '../layouts/Base.astro'
import {SITE_DESCRIPTION, SITE_TITLE} from "../consts";
---

<Layout title={SITE_TITLE} desctiption={SITE_DESCRIPTION}>
	<h1 class="text-6xl text-black font-bold my-3">🦒 Welcome to sota1235.com!</h1>
	<p class="text-3xl text-black font-medium">
		Still work in progress 🚧
	</p>
</Layout>
