---
import Layout from '../layouts/Base.astro'
---

<Layout>
	<h1 class="text-6xl text-black font-bold my-3">🦒 Welcome to sota1235.com!</h1>
	<p class="text-3xl text-black font-medium">
		Still work in progress 🚧
	</p>
</Layout>
