---
import Layout from '../layouts/Base.astro'
import {SITE_DESCRIPTION, SITE_TITLE} from "../consts";
import HeaderText from "../components/HeaderText.astro";
import Typography from "../components/Typography.astro";
---

<Layout title={SITE_TITLE} desctiption={SITE_DESCRIPTION}>
	<div class="flex-col justify-center items-center h-screen">
		<HeaderText>
			🦒 sota1235.com!
		</HeaderText>
		<Typography>
			Still work in progress 🚧
		</Typography>
	</div>
</Layout>
