---
import HeaderLink from './HeaderLink.astro';
import ExternalLinkIcon from "./icons/ExternalLinkIcon.astro";
import HamburgerIcon from "./icons/HamburgerIcon.astro";
---

<header>
	<nav class="mx-6 py-3 md:py-0 md:m-8">
		<div class="flex-row justify-end hidden md:flex">
			<HeaderLink href="/">TOP</HeaderLink>
			<HeaderLink href="/blog">BLOG</HeaderLink>
			<HeaderLink href="/biography">BIOGRAPHY</HeaderLink>
			<HeaderLink
				href="https://sota1235.notion.site/README-sota1235-8457ce326b8f4b86aa1739de42891cdb?pvs=74"
				target="_blank"
				className="hover:text-black_hover hover:fill-black_hover"
			>
				<div class="flex flex-row gap-1.5 items-center">
					<p>README</p>
					<ExternalLinkIcon
						className="w-4 h-4 inline text-black"
					/>
				</div>
			</HeaderLink>
		</div>
		<div class="flex justify-end md:hidden">
			<HamburgerIcon
				id="hamburgerIcon"
				className="h-7 inline text-black fill-black"
			/>
		</div>
		<div id="hamburgerMenu" class="flex-col gap-2 mt-4 py-4 border-y-2 hidden">
			<HeaderLink href="/">TOP</HeaderLink>
			<HeaderLink href="/blog">BLOG</HeaderLink>
			<HeaderLink href="/biography">BIOGRAPHY</HeaderLink>
			<HeaderLink
				href="https://sota1235.notion.site/README-sota1235-8457ce326b8f4b86aa1739de42891cdb?pvs=74"
				target="_blank"
				className="hover:text-black_hover hover:fill-black_hover"
			>
				<div class="flex flex-row gap-1.5 items-center">
					<p>README</p>
					<ExternalLinkIcon
						className="w-4 h-4 inline fill-black"
					/>
				</div>
			</HeaderLink>
		</div>
	</nav>
</header>
<script>
	const hamburger = document.getElementById("hamburgerIcon");
	if (hamburger) {
		hamburger.addEventListener("click", () => {
			console.log('test');
			const nav = document.getElementById("hamburgerMenu");

			if (nav === null) {
				return;
			}

			const isHidden = nav.classList.contains("hidden");
			const hiddenClass = ["hidden", "fill-black"]
			const shownClass = ["flex", "fill-black_hover"]

			if (isHidden) {
				nav.classList.remove(...hiddenClass);
				nav.classList.add(...shownClass);
				return;
			}

			nav.classList.add(...hiddenClass);
			nav.classList.remove(...shownClass);
		});
	}
</script>