---
import HeaderLink from './HeaderLink.astro'
import ExternalLinkIcon from './icons/ExternalLinkIcon.astro'
import HamburgerIcon from './icons/HamburgerIcon.astro'
---

<header>
  <nav class="mx-6 py-3 md:m-8 md:py-0">
    <div class="hidden flex-row justify-end md:flex">
      <HeaderLink href="/">TOP</HeaderLink>
      <HeaderLink href="/blog">BLOG</HeaderLink>
      <HeaderLink href="/media">MEDIA</HeaderLink>
      <HeaderLink href="/biography">BIOGRAPHY</HeaderLink>
      <HeaderLink
        href="https://sota1235.notion.site/README-sota1235-8457ce326b8f4b86aa1739de42891cdb?pvs=74"
        target="_blank"
        rel="noopener noreferrer"
        className="hover:fill-black_hover hover:text-black_hover"
      >
        <div class="flex flex-row items-center gap-1.5">
          <p>README</p>
          <ExternalLinkIcon className="inline h-4 w-4 fill-black" />
        </div>
      </HeaderLink>
    </div>
    <div class="flex flex-col md:hidden">
      <div class="flex flex-col items-end">
        <HamburgerIcon
          id="hamburgerIcon"
          className="inline h-7 fill-black text-black"
        />
      </div>
      <div
        id="hamburgerMenu"
        class="mt-4 hidden flex-col gap-2 border-y-2 py-4"
      >
        <HeaderLink href="/">TOP</HeaderLink>
        <HeaderLink href="/blog">BLOG</HeaderLink>
        <HeaderLink href="/media">MEDIA</HeaderLink>
        <HeaderLink href="/biography">BIOGRAPHY</HeaderLink>
        <HeaderLink
          href="https://sota1235.notion.site/README-sota1235-8457ce326b8f4b86aa1739de42891cdb?pvs=74"
          target="_blank"
          className="hover:fill-black_hover hover:text-black_hover"
        >
          <div class="flex flex-row items-center gap-1.5">
            <p>README</p>
            <ExternalLinkIcon className="inline h-4 w-4 fill-black" />
          </div>
        </HeaderLink>
      </div>
    </div>
  </nav>
</header>
<script>
  const hamburger = document.getElementById('hamburgerIcon')
  if (hamburger) {
    hamburger.addEventListener('click', () => {
      console.log('test')
      const nav = document.getElementById('hamburgerMenu')

      if (nav === null) {
        return
      }

      const isHidden = nav.classList.contains('hidden')
      const hiddenClass = ['hidden', 'fill-black']
      const shownClass = ['flex', 'fill-black_hover']

      if (isHidden) {
        nav.classList.remove(...hiddenClass)
        nav.classList.add(...shownClass)
        return
      }

      nav.classList.add(...hiddenClass)
      nav.classList.remove(...shownClass)
    })
  }
</script>
