---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav class="m-8 h-8 flex justify-end">
		<div>
			<HeaderLink href="/">HOME</HeaderLink>
			<HeaderLink href="/blog">BLOG</HeaderLink>
			<HeaderLink href="/biography">BIOGRAPHY</HeaderLink>
		</div>
	</nav>
</header>