---
type Props = {
  className?: string
}

const { className } = Astro.props
---

<h1
  class:list={[
    'my-3 my-[40px] text-center text-3xl font-bold text-black md:my-[60px] md:text-6xl',
    className,
  ]}
>
  <slot />
</h1>
