---
type Props = {
	className?: string
}

const { className } = Astro.props
---

<h1 class:list={
	[
		"text-black font-bold my-3 text-center my-[40px] md:my-[60px] text-3xl md:text-6xl",
		className,
	]
}>
	<slot />
</h1>