---

---

<div class="flex flex-col items-center">
  <div class="h-64 w-64">
    <img
      id="image_2d"
      src="/biography_2d.webp"
      alt="2D icon"
      class="h-full w-full object-cover"
    />
    <img
      id="image_3d"
      src="/biography_3d.webp"
      alt="3D icon"
      class="hidden h-full w-full object-cover"
    />
  </div>

  <button
    class="mt-4 border-2 border-black px-4 py-2 text-xl font-bold text-black hover:bg-[#DDF6FF] md:text-2xl"
  >
    2D
  </button>
</div>

<script>
  const button = document.querySelector('button')

  function updateButtonText(text: string) {
    if (button === null) {
      return
    }

    button.innerHTML = text
  }

  const toggleImage = () => {
    const icon_2d = document.getElementById('image_2d')
    const icon_3d = document.getElementById('image_3d')
    const is2D = !icon_2d?.classList.contains('hidden')

    if (is2D) {
      icon_3d?.classList.remove('hidden')
      icon_2d?.classList.add('hidden')
      updateButtonText('3D')
    } else {
      icon_2d?.classList.remove('hidden')
      icon_3d?.classList.add('hidden')
      updateButtonText('2D')
    }
  }
  button?.addEventListener('click', toggleImage)
</script>
