---
import Layout from './Layout.astro';
import HeaderText from "../components/HeaderText.astro";
import type {CollectionEntry} from "astro:content";

type Props = CollectionEntry<'blog'>;

const { data } = Astro.props
---

<Layout>
	<div class="max-w-3xl mx-auto">
		<HeaderText className="my-[60px] text-3xl">{data.title}</HeaderText>
		<article class="prose prose-base mb-[200px] list-inside max-w-none">
			<slot />
		</article>
	</div>
</Layout>
