---
import Layout from './Layout.astro';
import HeaderText from "../components/HeaderText.astro";
import type {CollectionEntry} from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<'blog'>;

const { data, ...rest } = Astro.props
---

<Layout>
	<div class="max-w-3xl mx-auto">
		<div class="my-[60px]">
			<FormattedDate date={data.pubDate} className="text-black font-bold text-2xl" />
			<a
				href={`/blog/${rest.slug}`}
			>
				<HeaderText className="text-3xl hover:text-black_hover">{data.title}</HeaderText>
			</a>
		</div>
		<article class="prose prose-base mb-[200px] list-inside max-w-none">
			<slot />
		</article>
	</div>
</Layout>
