name: CI

on:
  push:
    branches: [main]
  pull_request:
    paths-ignore:
      - README.md
      - renovate.json
      - .gitignore
      - CNAME
      - .github/*
      - '!.github/workflows/ci.yml'

jobs:
  lint:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-node
      - name: Linting
        run: pnpm run format:check

  check-by-astro:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-node
      - name: Run astro check
        run: pnpm run astro check

  a11y:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-node
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps chromium
      - name: Check a11y
        run: |
          pnpm run build
          pnpm run a11y-check

  lhci:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-node
      - name: Run lighthouse
        run: |
          pnpm run build
          pnpm run lhci --upload.target=temporary-public-storage
