name: CI

on:
  push:
    branches: [main]
  pull_request:
    paths-ignore:
      - README.md
      - renovate.json
      - .gitignore
      - CNAME
      - .github/*
      - '!.github/workflows/ci.yml'

jobs:
  lint:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-node
      - name: Linting
        run: pnpm run format:check

  check-by-astro:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-node
      - name: Run astro check
        run: pnpm run astro check

  a11y:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-node
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps chromium
      - name: Check a11y
        run: |
          pnpm run build
          pnpm run a11y-check

  lhci:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-node
      - name: Run lighthouse
        run: |
          pnpm run build
          pnpm run lhci --upload.target=temporary-public-storage
