name: Check renovate config

on:
  push:
    paths:
      - renovate.json
      - .node-version

jobs:
  validate-renovate-config:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Setting up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: .node-version

      - name: validating renovate config
        run: npx --yes --package renovate -- renovate-config-validator --strict
